/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

.container{
 margin: 0 auto;
  width: 1500px;
  /* border: 1px solid black; */
}
h2{
  text-align: center;
}
.search{
  /* margin: 2% 43%; */
  text-align: center;
  margin-top: 2%;
  margin-bottom: 2%;
}
.search input{
  padding: 8px 20px;
  border: 1px solid black;
  border-radius: 4px;
}
.search button{
  padding: 8px 10px;
  border-radius: 4px;
  margin-left: 10px;
}
.prodect{
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  /* width: 300px; */
}
.box{
  border: 2px solid black;
  border-radius: 4px;
  width: 345px;
  height: 480px;
  padding: 6px;
}
.box h5,h4{
  text-align: center;
}
.box img{
  width: 300px;
  height: 350px;
  /* text-align: center; */
}
